//VARIABLES
@use "../utilities/variables" as *;
//MIXIN 
@use "../utilities/mixin" as *;

/* --- Ajuste para pantallas peque침as - mobile --- */

@media (max-width: 576px) {
  
  .hero-section {
    padding: 120px 0;

    h1 {
      font-size: 32px;
      margin: 20px;
    }

    p {
      font-size: 16px;
      margin: 20px;
    }
  }

  .product-grid {
    gap: 20px;
  }

  .navbar-social {
    i {
      font-size: 18px;
    }
  }

  .contact {
    padding: 40px 0;
  }

  .featured-products {
    text-align: center;

    .row {
      justify-content: center !important;
    }

    .card {
      margin: 0 auto;
      width: 85%; // m치s peque침o y centrado
    }

    .card img {
      width: 70%;  // reduce el tama침o de la imagen
      margin: 0 auto;
      display: block;
      border-radius: 10px;
    }
  }

}
