// Paleta de colores //

// 🎨 Paleta principal
$color-bg-dark: #222;
$color-bg-card: #333;
$color-text-light: #fff;
$color-text-muted: #ccc;

// 🎨 Marca
$color-primary: tomato;
$color-primary-hover: #d67b2a;

// ⚪ Grises
$color-gray-1: #555;
$color-gray-2: #777;

// Bordes y sombras
$radius: 12px;
$shadow: 0 6px 15px rgba(0, 0, 0, 0.4);

// Tipografía
$font-main: "Roboto", sans-serif;

// Spacing
$space-sm: 10px;
$space-md: 20px;
$space-lg: 40px;
