//VARIABLES
@use "../utilities/variables" as *;
//MIXIN 
@use "../utilities/mixin" as *;

@use "../components/buttons" as *;

/* --- CARDS --- */

.product-card {
  @include card-style;
  text-align: center;
  width: 100%;
  max-width: 380px;
  @include transition(transform);

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  h3 {
    margin-bottom: 10px;
  }

  p {
    color: $color-text-muted;
    margin-bottom: 16px;
  }

  .btn {
    @extend .btn-custom;
  }
}
