//VARIABLES
@use "../utilities/variables" as *;
//MIXIN 
@use "../utilities/mixin" as *;

@use "../components/buttons" as *;

/* --- FEATURED PRODUCTS --- */
.featured-products {
  padding: 4rem 0;
  @include section-padding;

  .card {
    border-radius: 10px;
    transition: transform .3s ease, box-shadow .3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    }

    img {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      width: 100%;
      height: 200px;
      object-fit: contain;
    }
  }
  .btn {
    background-color: $color-bg-dark;
    color: $color-text-light;
    padding: 12px 24px;
    border: 1px solid #666;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
    }
  }
}
