//VARIABLES
@use "../utilities/variables" as *;
//MIXIN 
@use "../utilities/mixin" as *;

/* --- HERO --- */
.hero-section {
  background: $color-primary url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  min-height: 60vh;
  padding: 120px 0; 
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
  }

  .container {
    position: relative;
    z-index: 2;
    margin-top: 40px;
  }

  .content {
    text-align: center;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
  }

  .btn {
    background-color: $color-primary;
    color: $color-text-light;
    padding: 12px 24px;
    border: 1px solid #666;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-hover;
    }
  }
}
