//VARIABLES
@use "../utilities/variables" as *;
//MIXIN 
@use "../utilities/mixin" as *;

@use "../components/buttons" as *;

/* --- PROMO BANNER --- */
.promo-banner {
  background: linear-gradient(135deg, #000, #222);
  color: white;
  padding: 4rem 0;

  h2, p {
    color: white;
  }

  a.btn {
    font-weight: 20px;
  }
  .btn {
    background-color: $color-primary;
    color: $color-text-light;
    padding: 12px 24px;
    border: 1px solid #666;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-hover;
    }
  }
}
