//VARIABLES
@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg-dark;
  color: $color-text-light;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}